a{
    color: black;
    text-decoration: none;
} 

/* header */
header{
    height: 108px;
    border-bottom: 1px solid rgba(20,34,80,0.2);
    position: relative;
}
#header_block{
    margin-top: 47px;
    margin-left: 487px;
    width: 460px;
    height: 21px;
    position: absolute;
}
#header_lang_button{
    background-color: rgb(255, 255, 255);
    border-color: white;
    box-shadow: white;
    
    box-shadow: none; /* не работает */
    outline: none;
}
.header_button{
    margin-left: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #142251;
}
#header_button_img{
    width: 20px;
    height: 20px;
    -webkit-user-drag: none;
}
#header_button_main{
    margin-top: 37px;
    margin-left: 102px;
    position: absolute;
    height: 35px;
    width: 163px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #142251;
}
#header_button_search{
    position: absolute;
    top: 36px;
    right: 101px;
    width: 293px;
    height: 53px;
}
#header_search_text{
    height: 33px;
    border-radius: 28px;
    margin-top: 14px;
    width: 277px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
#header_search_img{
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: 3px;
    border-radius: 28px;
    background-color: #ffffff;
    border-color: #ffffff;
}
#header_search_img2{
    height: 62px;
    width: 62px;
    margin-left: -9px;
    margin-top: -3px;
}
#header_window{
    width: 195px;
    height: 495px;
    display: none;
    margin-top: 5px;
    margin-left: 345px;
    position: absolute;
    z-index: 5;
}
.header_window_button{
    width: 179px;
    height: 40px;
    margin-left: 7px;
    border-radius: 10px;
    border: 1px solid rgba(20, 34, 81, 0.30);
    background: #D6CFFF;
}
.header_window_text{
    margin-top: 20px;
    margin-left: 20px;
    transform: translate(0%, -50%);

    color: #142251;
    font-size: 20px;
}

/* footer */
footer{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    width: 573px;
    height: 55px;
    margin-top: 160px;
    margin-bottom: 60px;
    position: relative;
}
#footer_email{
    width: 255px;
    height: 100%;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #AFB4C4;
    position: absolute;
    color: rgba(20, 34, 81, 0.8);
}
#footer_email_text{
    text-decoration: underline;
    color: rgba(20, 34, 81, 0.8);

    margin-top: 15px;
    width: 100%;
    height: 24px;
    text-align: center;
    
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;

    letter-spacing: -0.03em;
    text-decoration-line: underline;
    text-transform: lowercase;
}
#footer_text{
    margin-left: 290px;
    margin-top: 10px;
    height: 45px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    color: #989EB1;
    position: absolute;
}

/* главная */
#main_h1{
    margin-top: 80px;
    margin-left: 200px;

    font-weight: 400;
    font-size: 36px;
    line-height: 85%;
    letter-spacing: -0.04em;
    color: #142251;
}
#main_text{
    margin-top: 50px;
    margin-left: 200px;
    width: 500px;

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    letter-spacing: -0.03em;
    color: #989EB1;
}
#main_h1_2{
    margin-top: 80px;
    margin-left: 200px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 85%;
    letter-spacing: -0.04em;
    color: #142251;
}
#main_news_block{
    margin-top: 50px;
    margin-left: 200px;
    width: 620px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #989EB1;
}
.main_news{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #989EB1;
    text-decoration: underline;
}
.main_news_all{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #989EB1;
}
.main_news_date{
    color: rgba(20, 34, 81, 0.7);
}

/* оглавление языка */
#language_list{
    margin-top: 50px;
    margin-left: 200px;
    width: 620px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(20, 34, 81, 0.7);
}
.language_li{
    color: rgba(20, 34, 81, 0.7);
}
.language_ul{
    margin-top: -18px;
}

/* страница */
.page_h1{
    margin-top: 80px;
    margin-left: 200px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 85%;
    letter-spacing: -0.04em;
    color: #142251;
}
.page_text{
    margin-top: 50px;
    margin-left: 200px;
    width: 1140px;

    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    letter-spacing: -0.03em;
    color: #989EB1;

    text-align: justify;
    clear: both;
}
#page_button{
    margin-top: 60px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    position: relative;
    width: 289px;
    height: 45px;
}
#page_button_1{
    height: 44px;
    width: 154px;
    margin-right: 20px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;  
    text-align: center;  
    color: white;  
    position: absolute;
}
#page_button_2{
    height: 44px;
    width: 115px;
    margin-left: 174px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px; 
    text-align: center;  
    color: white; 
    position: absolute;
}
.vertical_center{
    margin-top: 13px;
}

/* задний фон */
#background{
    position: relative;
    pointer-events: none;
    z-index: -2;
}
#background:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#bg_1{
    position: absolute;
    left: 300px;
    bottom: 0px;
    width: 793px;
    height: 478px;
    transform: translate(-100%,-100%);
    background-color: #7C6AFA;
}
#bg_2{
    position: absolute;
    overflow: hidden;
    width: 731px;
    height: 489px;
    left: 709px;
    top: -15px;
}
#bg_3{
    position: absolute;
    overflow: hidden;
    width: 610px;
    height: 482px;
    left: 770px;
    top: 44px;
}

/* донат */
#donate{
    width: 503px;
    height: 314px;
    position: relative;
    position: absolute;
    left: 837px;
    top: 678px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(20, 34, 81, 0.8);
}
#donate_2{
    width: 503px;
    height: 314px;
    position: relative;
    position: absolute;
    left: 837px;
    top: 750px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(20, 34, 81, 0.8);
}
#donate_3{
    width: 503px;
    height: 314px;
    position: absolute;
    left: 837px;
    top: 80px;

    float: right;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: rgba(20, 34, 81, 0.8);
}
#donate a{
    color: #989EB1;
    text-decoration: underline;
}
#donate_2 a{
    color: #989EB1;
    text-decoration: underline;
}
#donate_3 a{
    color: #989EB1;
    text-decoration: underline;
}
#donate_block{
    width: 503px;
    height: 234px;
    border-radius: 49px;
    /*border-image: linear-gradient(to bottom right, #ff6f69, #1c1c1c);*/
    border: 15px solid #C89AFC;
}
#donate_a{
    margin-top: 30px;
    margin-left: 190px;
    width: 335px;
    height: 50px;
}
.donate_a{
    display: inline-block;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    color: aliceblue;
}
.donate_a img{
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    margin-top: 50%;
    margin-left: 50%;
}
#donate_text{
    margin-left: 50px;
    margin-top: 35px;
}
#donate_card{
    position: absolute;
    top: 70px;
    left: 279px;
}

/* поиск */
#search{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 50px;
    height: 33px;
    width: 450px;
}
#search_text{
    width: 364px;
    height: 33px;
    border-radius: 28px;
    padding: 10px;
}
#search_button{
    position: absolute;
    margin-left: 20px;
    width: 61px;
    height: 33px;
    border-radius: 28px;
    background-color: #D5D7DF;;
}
#search_results{
    margin-top: 22px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    width: 183px;
}
#search_all{
    margin-left: 20%;
    margin-top: 65px;
    width: 519px;
}
#search_img{
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-top: 4px;
}
.search_block{
    margin-bottom: 40px;
}
.search_name{
    font-size: 24px;
}
.search_folder{
    color: #7C6AFA;
}
.search_text{
    overflow: hidden;
    height: 54px;
}